<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/koord/GenerateBAP/vars.css" />
    <link rel="stylesheet" href="css/koord/GenerateBAP/style.css" />

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        background: none;

        -webkit-font-smoothing: antialiased;
      }

      menu,
      ol,
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="html-koord-generate-bap">
      <div class="footer">
        <div class="line-16"></div>
        <div class="rpl-b-3">RPL-B-3</div>
      </div>
      <img class="arrow-back" src="css/koord/GenerateBAP/arrow-back0.svg" />
      <div class="header">
        <img class="logo-kiri-atas" src="css/koord/GenerateBAP/logo-kiri-atas0.svg" />
        <div class="siap-sidang">SIAP Sidang</div>
      </div>
      <div class="generate-bap">Generate BAP</div>
      <div class="rectangle-4"></div>
      <div class="rectangle-35"></div>
      <img class="polygon-7" src="css/koord/GenerateBAP/polygon-70.svg" />
      <img class="image-266" src="imageBAP.png" />
      <div class="head">
        <div class="rectangle-46"></div>
        <div class="koordinator">Koordinator</div>
      </div>
      <div class="button-generate-bap-variant-3">
        <div class="generate">Generate</div>
      </div>
    </div>
  </body>
</html>
