<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/koord/BuatJadwal/vars1.css" />
    <link rel="stylesheet" href="css/koord/BuatJadwal./style1.css" />

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        background: none;

        -webkit-font-smoothing: antialiased;
      }

      menu,
      ol,
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="html-koord-pembuatan-komponen">
      <div class="rectangle-1"></div>
      <div class="bobot-penilaian-pembimbing">Bobot penilaian pembimbing</div>
      <div class="pembuatan-komponen">Pembuatan Komponen</div>
      <div class="siap-sidang">SIAP Sidang</div>
      <img class="logo-kiri-atas" src="logo-kiri-atas0.svg" />
      <div class="next">
        <div class="log-in">Save</div>
      </div>
      <div class="komponen">Komponen</div>
      <div class="nambah">
        <div class="log-in2">+</div>
      </div>
      <div class="back">
        <div class="back2">Back</div>
      </div>
      <div class="boc-tahun-ajaran">
        <img class="tulis" src="tulis0.svg" />
        <div class="tulis2">Tahun Ajaran</div>
        <div class="value">2024/2025</div>
      </div>
      <div class="component-dropdown-semester">
        <div class="dosen-1">
          <div class="dosen">Semester</div>
        </div>
        <div class="list-box-bg"></div>
        <img class="chevron" src="chevron0.svg" />
        <div class="dosen-2">
          <div class="dosen2">Ganjil/Genap</div>
        </div>
        <div class="clip-list">
          <div class="dosen-3">
            <div class="vania">
              <div class="_1">Vania</div>
            </div>
            <div class="pascal">
              <div class="_2">Pascal</div>
            </div>
            <div class="keenan">
              <div class="_3">Keenan</div>
            </div>
            <div class="husnul">
              <div class="_4">Husnul</div>
            </div>
          </div>
        </div>
      </div>
      <div class="rectangle-92"></div>
      <div class="no">No.</div>
      <div class="nama-komponen-atas">
        Nama
        <br />
        Komponen
      </div>
      <div class="nama-komponen-bwh">Nama Komponen</div>
      <div class="bobot-penguji">
        Bobot
        <br />
        Penguji
      </div>
      <div class="bobot-anggota-penguji">
        Bobot
        <br />
        Anggota
        <br />
        Penguji
      </div>
      <div class="bobot-anggota-pembimbing">
        Bobot
        <br />
        Anggota
        <br />
        Pembimbing
      </div>
      <div class="bobot-pembimbing">
        Bobot
        <br />
        Pembimbing
      </div>
      <div class="_0">0%</div>
      <div class="_02">0%</div>
      <div class="_03">0%</div>
      <div class="_04">0%</div>
    </div>
  </body>
</html>
