<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/koord/BuatKomponen/vars.css">
  <link rel="stylesheet" href="/css/koord/BuatKomponen/style.css">
  <script src="/js/koord/Komponen/scripts.js" defer></script>
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="html-koord-pembuatan-komponen">
    <div class="rectangle-1">
      <div class="bobot-penilaian-pembimbing">Bobot penilaian pembimbing</div>
      <div class="pembuatan-komponen">Pembuatan Komponen</div>
      <div class="siap-sidang">SIAP Sidang</div>
      <img class="logo-kiri-atas" src="/css/koord/BuatKomponen/logo-kiri-atas0.svg" />
    </div>
    <div class="frame_komponen">
      <div class="komponen">Komponen</div>
      <div class="nambah">
        <button class="plus" id="addRowButton">+</button>
      </div>
    </div>
    <form method="POST" th:action="@{/koord/buatKomponen}">
      <div class="frame_tahun">
        <select id="tahun" name="tahun" class="box" required>
          <option value="" disabled th:if="${tahun == null}" selected>Pilih Tahun Ajaran</option>
          <option th:value="2024" th:selected="${tahun == '2024'}">2024</option>
          <option th:value="2025" th:selected="${tahun == '2025'}">2025</option>
          <option th:value="2026" th:selected="${tahun == '2026'}">2026</option>
        </select>
        <div class="tahun">Tahun Ajaran</div>
      </div>
      <div class="frame_semester">
        <select id="semester" name="semester" class="box2" required>
          <option value="" disabled th:if="${semester == null}" selected>Pilih Semester</option>
          <option th:value="Ganjil" th:selected="${semester == 'Ganjil'}">Ganjil</option>
          <option th:value="Genap" th:selected="${semester == 'Genap'}">Genap</option>
        </select> 
        <div class="semester">Semester</div>
      </div>
      <table>
        <thead>
          <tr>
            <th>No.</th>
            <th>Nama Komponen</th>
            <th>Bobot Penguji</th>
            <th>Bobot Pembimbing</th>
          </tr>
        </thead>
        <tbody id="nilaiTableBody">
          <tr th:each="nilai, stat : ${nilaiList}">
            <td th:text="${stat.index + 1}"></td>
            <td>
                <input type="text" name="deskripsi[]" th:value="${nilai.deskripsi}" />
            </td>
            <td>
                <input type="number" name="penguji[]" th:value="${nilai.penguji}" />
            </td>
            <td>
                <input type="number" name="pembimbing[]" th:value="${nilai.pembimbing}" />
            </td>
          </tr>
        </tbody>
      </table>
      <a class="back" th:href="@{/koord/buatKomponen}">
        <div class="back2">Back</div>
      </a>
      <button class="next" type="submit">
        <div class="log-in2">Save</div>
      </button>
      <!-- Notifikasi Error -->
      <div id="notificationError" th:if="${errorMessage}" class="notificationError">
        <p th:text="${errorMessage}"></p>
      </div>

      <!-- Notifikasi Success -->
      <div id="notificationSuccess" th:if="${message}" class="notificationSuccess">
        <p th:text="${message}"></p>
      </div>
    </form>
  </div>
  
</body>
</html>