<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/koord/BuatJadwal/style1.css">
  <link rel="stylesheet" href="/css/koord/BuatJadwal/vars1.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="html-koord-pembuatan-jadwal-1">
    <div class="kiri">
      <div class="data-mahasiswa-dan-detail-sidang">
        Data mahasiswa dan Detail Sidang
      </div>
      <div class="pembuatan-jadwal">Pembuatan Jadwal</div>
      <div class="pembuatan-jadwal2">Pembuatan Jadwal</div>
      <div class="siap-sidang">SIAP Sidang</div>
      <img class="logo" src="/images/logo0.svg" />
    </div>
    <div class="step-1-of-3">
      <span>
        <span class="step-1-of-3-span">Step 1</span>
        <span class="step-1-of-3-span2">of 3</span>
      </span>
    </div>
    <img class="rectangle-2" src="/images/rectangle-20.svg" />
    <div class="rectangle-3"></div>
    <form class="group-biodata" method="POST" th:action="@{/koord/buatJadwal1}">
      <div class="nama">
        <input class="nama2" type="text" id="namaMahasiswa" name="namaMahasiswa" th:value="${namaMahasiswa}"required>
        <div class="header-txt">Nama Mahasiswa</div>
      </div>
      <div class="npm">
        <input class="npm2" type="text" id="npm" name="npm" th:value="${npm}" required>
        <div class="npm3">NPM Mahasiswa</div>
      </div>
      <div class="semester-sidang">
        <div class="npm4" type="text">
          <select id="semester" name="semester" required>
            <option value="" disabled th:if="${semester == null}" selected>Pilih Semester</option>
            <option th:value="Ganjil" th:selected="${semester == 'Ganjil'}">Ganjil</option>
            <option th:value="Genap" th:selected="${semester == 'Genap'}">Genap</option>
          </select> 
        </div>
        <div class="npm5">Semester Sidang</div>
      </div>
      <div class="tahun-ajaran">
        <div class="npm6" type="text">
          <select id="tahun" name="tahun" required>
            <option value="" disabled th:if="${tahun == null}" selected>Pilih Tahun Ajaran</option>
            <option th:value="2023" th:selected="${tahun == '2023'}">2023</option>
            <option th:value="2024" th:selected="${tahun == '2024'}">2024</option>
          </select>        
        </div>
        <div class="npm7">Tahun Ajaran Sidang</div>
      </div>
      <div class="tanggal-sidang">
        <div class="npm8">
          <input type="date" name="tgl" value="tgl" id="tgl" th:value="${tgl}" required>
        </div>
        <div class="npm9">Tanggal Sidang</div>
      </div>
      <div class="waktu-sidang">
        <div class="npm10">
          <input type="time" name="waktu" value="waktu" id="waktu" th:value="${waktu}" required>
        </div>
        <div class="npm11">Waktu Sidang</div>
      </div>
      <div class="tempat-sidang">
        <input class="tempat" type="text" name="tempat" id="tempat" th:value="${tempat}" required>
        <div class="tempat2">Tempat Sidang</div>
      </div>
      <div class="tombol">
        <a class="cancel" th:href="@{/koord/home}">
          <div class="cancel2">Cancel</div>
        </a>
        <button class="next" type="submit">
          <div class="log-in">Next</div>
        </button>
      </div>
    </form>
  </div>
</body>
</html>