<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/koord/BuatJadwal/style3.css">
  <link rel="stylesheet" href="/css/koord/BuatJadwal/vars3.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="html-koord-pembuatan-jadwal-3">
    <div class="kiri">
      <img class="logo-kiri-atas" src="/images/logo0.svg" />
      <div class="pembuatan-jadwal">Pembuatan Jadwal</div>
      <div class="siap-sidang">SIAP Sidang</div>
      <div class="overview-bobot-nilai">Overview Bobot Nilai</div>
    </div>
    <div class="step-3-of-3">
      <span>
        <span class="step-3-of-3-span">Step 3</span>
        <span class="step-3-of-3-span2">of 3</span>
      </span>
    </div>
    <img class="rectangle-2" src="/images/rectangle-20.svg"/>
    <div class="rectangle-3"></div>
    <div class="group-nilai">
      <div class="overview">
        <a>NPM Mahasiswa: </a> <a th:text="${npmMahasiswa}"></a><br>
        <a>Nama Mahasiswa: </a> <a th:text="${namaMahasiswa}"></a><br>
        <a>Judul Tugas Akhir: </a> <a th:text="${judul}"></a>
      </div>
      <form method="POST" th:action="@{/koord/buatJadwal3}">
        <table>
          <thead>
              <tr>
                  <th>No.</th>
                  <th>Nama Komponen</th>
                  <th>Bobot Penguji</th>
                  <th>Bobot Pembimbing</th>
              </tr>
          </thead>
          <tbody>
              <tr th:each="nilai, stat : ${nilaiList}">
                  <td th:text="${stat.index + 1}"></td> <!-- Menampilkan nomor urut -->
                  <td th:text="${nilai.deskripsi}">Nama Komponen</td> <!-- Menampilkan nama komponen -->
                  <td th:text="${nilai.bobotpenguji}">Bobot Penguji</td> <!-- Menampilkan bobot ketua penguji -->
                  <td th:text="${nilai.bobotpembimbing}">Bobot Pembimbing</td> <!-- Menampilkan bobot pembimbing -->
              </tr>
          </tbody>
        </table>
        <div class="tombol">
          <a class="cancel" th:href="@{/koord/buatJadwal2}">
            <div class="cancel2">Cancel</div>
          </a>
          <button class="next" type="submit">
            <div class="log-in">Save</div>
          </button>
        </div>
      </form>
    </div>
</body>
</html>