<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/koord/BuatJadwal/style2.css">
  <link rel="stylesheet" href="/css/koord/BuatJadwal/vars2.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="html-koord-pembuatan-jadwal-2">
    <div class="kiri">
      <img class="logo-kiri-atas" src="/images/logo0.svg" />
      <div class="data-penguji-pembimbing">Data Penguji &amp; Pembimbing</div>
      <div class="pembuatan-jadwal">Pembuatan Jadwal</div>
      <div class="pembuatan-jadwal2">Pembuatan Jadwal</div>
      <div class="siap-sidang">SIAP Sidang</div>
    </div>
    <div class="group-biodata">
      <div class="pembimbing">
        <select class="pembimbing2" id="pembimbingList" name="pembimbingList" required>
          <!-- Opsi Default -->
          <option value="" disabled selected>Pilih Nama Pembimbing</option>
          <option th:each="pb1 : ${pb1}" 
          th:value="${pb1.nik}" 
          th:text="${pb1.nama}"
          th:selected="${pb1.nik == pb1}">
          </option>
        </select> 
        <div class="tempat2">Pembimbing</div>
      </div>
      <div class="anggota-pembimbing">
        <select class="pembimbing3" id="angPembimbingList" name="angPembimbingList" required>
          <!-- Opsi Default -->
          <option value="" disabled selected>Pilih Nama Anggota Pembimbing</option>
          <option value="-">-</option>
          <option th:each="pb2 : ${pb2}" 
          th:value="${pb2.nik}" 
          th:text="${pb2.nama}"
          th:selected="${pb2.nik == pb2}">
          </option>
        </select> 
        <div class="tempat4">Anggota Pembimbing</div>
      </div>
      <div class="ketua-penguji">
        <select class="penguji1" id="penguji1List" name="penguji1List" required>
          <!-- Opsi Default -->
          <option value="" disabled selected>Pilih Nama Ketua Penguji</option>
          <option th:each="pu1 : ${pu1}" 
          th:value="${pu1.nik}" 
          th:text="${pu1.nama}"
          th:selected="${pu1.nik == pu1}">
          </option>
        </select> 
        <div class="tempat6">Ketua Penguji</div>
      </div>
      <div class="anggota-penguji">
        <select class="penguji2" id="penguji2List" name="penguji2List" required>
          <!-- Opsi Default -->
          <option value="" disabled selected>Pilih Nama Ketua Penguji</option>
          <option value="-">-</option>
          <option th:each="pu2 : ${pu2}" 
          th:value="${pu2.nik}" 
          th:text="${pu2.nama}"
          th:selected="${pu2.nik == pu2}">
          </option>
        </select> 
        <div class="tempat8">Anggota Penguji</div>
      </div>
      <div class="tombol">
        <a class="cancel" th:href="@{/koord/buatJadwal1}">
          <div class="cancel2">Cancel</div>
        </a>      
        <a class="next" th:href="@{/koord/buatJadwal3}">
          <div class="log-in">Next</div>
        </a>
      </div>
    </div>
    <div class="step-2-of-3">
      <span>
        <span class="step-2-of-3-span">Step 2</span>
        <span class="step-2-of-3-span2">of 3</span>
      </span>
    </div>
    <img class="rectangle-2" src="/images/rectangle-20.svg"/>
    <div class="rectangle-3"></div>
  </div>
  
</body>
</html>