.html-koord-detail-jadwal,
.html-koord-detail-jadwal * {
  box-sizing: border-box;
  font-family: sans-serif;
}
.html-koord-detail-jadwal {
  background: #f7f5ed;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.frame-kiri {
  position: absolute;
  inset: 0;
}
.group-36461 {
  width: 604px;
  height: 481px;
  position: absolute;
  left: 100px;
  top: 284px;
  overflow: visible;
}
.box-nama-mahasiswa {
  width: 537px;
  height: 83px;
  position: static;
}
.rectangle-7 {
  background: #f7f5ed;
  border-radius: 10px;
  border-style: solid;
  border-color: #004e89;
  border-width: 1px;
  width: 537px;
  height: 83px;
  position: absolute;
  left: 133px;
  top: 367px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.isi{
  position: absolute;
  top : 45px;
  left: 25px;
  font-size: 18px;
}
.rectangle-38 {
  background: #f7f5ed;
  border-radius: 10px;
  border-style: solid;
  border-color: #004e89;
  border-width: 1px;
  width: 173px;
  height: 23px;
  position: absolute;
  left: 145px;
  top: 380px;
}
.nama-mahasiswa {
  color: #004e89;
  text-align: center;
  font-family: var(--bold-18px-font-family, "SpaceGrotesk-Bold", sans-serif);
  font-size: var(--bold-18px-font-size, 18px);
  line-height: var(--bold-18px-line-height, 28px);
  font-weight: var(--bold-18px-font-weight, 700);
  position: absolute;
  left: 157px;
  top: 378px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-npm {
  width: 537px;
  height: 83px;
  position: static;
}
.rectangle-35 {
  background: #f7f5ed;
  border-radius: 10px;
  border-style: solid;
  border-color: #004e89;
  border-width: 1px;
  width: 537px;
  height: 83px;
  position: absolute;
  left: 133px;
  top: 463px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-39 {
  background: #f7f5ed;
  border-radius: 10px;
  border-style: solid;
  border-color: #004e89;
  border-width: 1px;
  width: 173px;
  height: 23px;
  position: absolute;
  left: 143px;
  top: 471px;
}
.npm-mahasiswa {
  color: #004e89;
  text-align: center;
  font-family: var(--bold-18px-font-family, "SpaceGrotesk-Bold", sans-serif);
  font-size: var(--bold-18px-font-size, 18px);
  line-height: var(--bold-18px-line-height, 28px);
  font-weight: var(--bold-18px-font-weight, 700);
  position: absolute;
  left: 161px;
  top: 469px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-tanggal {
  width: 537px;
  height: 83px;
  position: static;
}
.rectangle-36 {
  background: #f7f5ed;
  border-radius: 10px;
  border-style: solid;
  border-color: #004e89;
  border-width: 1px;
  width: 537px;
  height: 83px;
  position: absolute;
  left: 133px;
  top: 559px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-40 {
  background: #f7f5ed;
  border-radius: 10px;
  border-style: solid;
  border-color: #004e89;
  border-width: 1px;
  width: 98px;
  height: 23px;
  position: absolute;
  left: 143px;
  top: 567px;
}
.tanggal {
  color: #004e89;
  text-align: center;
  font-family: var(--bold-18px-font-family, "SpaceGrotesk-Bold", sans-serif);
  font-size: var(--bold-18px-font-size, 18px);
  line-height: var(--bold-18px-line-height, 28px);
  font-weight: var(--bold-18px-font-weight, 700);
  position: absolute;
  left: 157px;
  top: 565px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-tempat {
  width: 537px;
  height: 83px;
  position: static;
}
.rectangle-37 {
  background: #f7f5ed;
  border-radius: 10px;
  border-style: solid;
  border-color: #004e89;
  border-width: 1px;
  width: 537px;
  height: 83px;
  position: absolute;
  left: 133px;
  top: 654px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-41 {
  background: #f7f5ed;
  border-radius: 10px;
  border-style: solid;
  border-color: #004e89;
  border-width: 1px;
  width: 98px;
  height: 23px;
  position: absolute;
  left: 143px;
  top: 663px;
}
.tempat {
  color: #004e89;
  text-align: center;
  font-family: var(--bold-18px-font-family, "SpaceGrotesk-Bold", sans-serif);
  font-size: var(--bold-18px-font-size, 18px);
  line-height: var(--bold-18px-line-height, 28px);
  font-weight: var(--bold-18px-font-weight, 700);
  position: absolute;
  left: 157px;
  top: 661px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-kanan {
  position: absolute;
  inset: 0;
}
.group-36462 {
  width: 604px;
  height: 481px;
  position: absolute;
  left: 736px;
  top: 284px;
  overflow: visible;
}
.box-topik-sidang {
  width: 537px;
  height: 83px;
  position: static;
}
.rectangle-42 {
  background: #f7f5ed;
  border-radius: 10px;
  border-style: solid;
  border-color: #004e89;
  border-width: 1px;
  width: 537px;
  height: 83px;
  position: absolute;
  left: 769px;
  top: 367px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-46 {
  background: #f7f5ed;
  border-radius: 10px;
  border-style: solid;
  border-color: #004e89;
  border-width: 1px;
  width: 173px;
  height: 23px;
  position: absolute;
  left: 781px;
  top: 380px;
}
.topik-sidang {
  color: #004e89;
  text-align: center;
  font-family: var(--bold-18px-font-family, "SpaceGrotesk-Bold", sans-serif);
  font-size: var(--bold-18px-font-size, 18px);
  line-height: var(--bold-18px-line-height, 28px);
  font-weight: var(--bold-18px-font-weight, 700);
  position: absolute;
  left: 811px;
  top: 378px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-penguji-1 {
  width: 537px;
  height: 83px;
  position: static;
}
.rectangle-43 {
  background: #f7f5ed;
  border-radius: 10px;
  border-style: solid;
  border-color: #004e89;
  border-width: 1px;
  width: 537px;
  height: 83px;
  position: absolute;
  left: 769px;
  top: 463px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-47 {
  background: #f7f5ed;
  border-radius: 10px;
  border-style: solid;
  border-color: #004e89;
  border-width: 1px;
  width: 173px;
  height: 23px;
  position: absolute;
  left: 779px;
  top: 471px;
}
.dosen-penguji-1 {
  color: #004e89;
  text-align: center;
  font-family: var(--bold-18px-font-family, "SpaceGrotesk-Bold", sans-serif);
  font-size: var(--bold-18px-font-size, 18px);
  line-height: var(--bold-18px-line-height, 28px);
  font-weight: var(--bold-18px-font-weight, 700);
  position: absolute;
  left: 799px;
  top: 469px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-penguji-2 {
  width: 537px;
  height: 83px;
  position: static;
}
.rectangle-44 {
  background: #f7f5ed;
  border-radius: 10px;
  border-style: solid;
  border-color: #004e89;
  border-width: 1px;
  width: 537px;
  height: 83px;
  position: absolute;
  left: 769px;
  top: 559px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-50 {
  background: #f7f5ed;
  border-radius: 10px;
  border-style: solid;
  border-color: #004e89;
  border-width: 1px;
  width: 173px;
  height: 23px;
  position: absolute;
  left: 779px;
  top: 569px;
}
.dosen-penguji-2 {
  color: #004e89;
  text-align: center;
  font-family: var(--bold-18px-font-family, "SpaceGrotesk-Bold", sans-serif);
  font-size: var(--bold-18px-font-size, 18px);
  line-height: var(--bold-18px-line-height, 28px);
  font-weight: var(--bold-18px-font-weight, 700);
  position: absolute;
  left: 796px;
  top: 566px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-dosen-pembimbing {
  width: 537px;
  height: 83px;
  position: static;
}
.rectangle-45 {
  background: #f7f5ed;
  border-radius: 10px;
  border-style: solid;
  border-color: #004e89;
  border-width: 1px;
  width: 537px;
  height: 83px;
  position: absolute;
  left: 769px;
  top: 654px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-51 {
  background: #f7f5ed;
  border-radius: 10px;
  border-style: solid;
  border-color: #004e89;
  border-width: 1px;
  width: 214px;
  height: 23px;
  position: absolute;
  left: 779px;
  top: 662px;
}
.dosen-pembimbing {
  color: #004e89;
  text-align: center;
  font-family: var(--bold-18px-font-family, "SpaceGrotesk-Bold", sans-serif);
  font-size: var(--bold-18px-font-size, 18px);
  line-height: var(--bold-18px-line-height, 28px);
  font-weight: var(--bold-18px-font-weight, 700);
  position: absolute;
  left: 804px;
  top: 659px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  background: var(--general-color-2, #004e89);
  font-weight: bold;
  color: white;
  font-size: 16px;
  border-style: solid;
  border-color: var(
    --radial,
    radial-gradient(
      closest-side,
      rgba(255, 155, 0, 1) 12.5%,
      rgba(237, 28, 36, 1) 100%
    )
  );
  border-width: 1px 0px 0px 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 86px;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.line-16 {
  margin-top: -1px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: var(--grey-grey-3, #dadce2);
  border-width: 1px 0 0 0;
  opacity: 0.5;
  flex-shrink: 0;
  width: 1200px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.rpl-b-3 {
  margin: -199px 0 0 0;
  color: #ffffff;
  text-align: center;
  font-family: var(
    --regular-18px-font-family,
    "SpaceGrotesk-Regular",
    sans-serif
  );
  font-size: var(--regular-18px-font-size, 18px);
  line-height: var(--regular-18px-line-height, 28px);
  font-weight: var(--regular-18px-font-weight, 400);
  position: absolute;
  left: calc(50% - 41px);
  top: 36px;
  width: 82px;
  height: 27px;
}
.header {
  background: var(--general-color-2, #004e89);
  padding: 40px 152px 40px 152px;
  display: flex;
  flex-direction: row;
  gap: 43px;
  align-items: center;
  justify-content: flex-start;
  width: 1440px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.logo-kiri-atas {
  flex-shrink: 0;
  width: 122px;
  height: 55.59px;
  position: relative;
  overflow: visible;
}
.siap-sidang {
  color: #ffffff;
  text-align: left;
  font-family: var(
    --regular-16px-font-family,
    "SpaceGrotesk-Regular",
    sans-serif
  );
  font-size: var(--regular-16px-font-size, 16px);
  line-height: var(--regular-16px-line-height, 26px);
  font-weight: var(--regular-16px-font-weight, 400);
  position: absolute;
  left: 164px;
  top: 96px;
  width: 91px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button-generate-bap {
  background: var(
    --primary-primary,
    radial-gradient(
      closest-side,
      rgba(255, 155, 0, 1) 12.5%,
      rgba(237, 28, 36, 1) 100%
    )
  );
  border-radius: 60px;
  padding: 15px 28px 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 208px;
  height: 54px;
  position: absolute;
  left: 348px;
  top: 840px;
  box-shadow: 0px 15px 36px 0px rgba(246, 87, 20, 0.3);
}
.generate-bap {
  color: #000000;
  text-align: center;
  font-family: var(
    --medium-16px-font-family,
    "SpaceGrotesk-Medium",
    sans-serif
  );
  font-size: var(--medium-16px-font-size, 16px);
  line-height: var(--medium-16px-line-height, 24px);
  font-weight: var(--medium-16px-font-weight, 500);
  position: relative;
  width: 157px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button-preview-bap {
  background: var(
    --primary-primary,
    radial-gradient(
      closest-side,
      rgba(255, 155, 0, 1) 12.5%,
      rgba(237, 28, 36, 1) 100%
    )
  );
  border-radius: 60px;
  padding: 15px 28px 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 208px;
  height: 54px;
  position: absolute;
  left: 1150px;
  top: 840px;
  box-shadow: 0px 15px 36px 0px rgba(246, 87, 20, 0.3);
}
.button-nilai-mahasiswa {
  background: var(
    --primary-primary,
    radial-gradient(
      closest-side,
      rgba(255, 155, 0, 1) 12.5%,
      rgba(237, 28, 36, 1) 100%
    )
  );
  border-radius: 60px;
  padding: 15px 25px 10px 29px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 208px;
  height: 54px;
  position: absolute;
  left: 616px;
  top: 840px;
  box-shadow: 0px 15px 36px 0px rgba(246, 87, 20, 0.3);
  cursor: pointer;
}
.nilai-mahasiswa {
  color: #000000;
  text-align: center;
  font-family: var(
    --medium-16px-font-family,
    "SpaceGrotesk-Medium",
    sans-serif
  );
  font-size: var(--medium-16px-font-size, 16px);
  line-height: var(--medium-16px-line-height, 24px);
  font-weight: var(--medium-16px-font-weight, 500);
  position: relative;
  width: 157px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-manajemen-bap {
  background: var(
    --primary-primary,
    radial-gradient(
      closest-side,
      rgba(255, 155, 0, 1) 12.5%,
      rgba(237, 28, 36, 1) 100%
    )
  );
  border-radius: 60px;
  padding: 15px 26px 10px 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  width: 208px;
  height: 54px;
  position: absolute;
  left: 884px;
  top: 840px;
  box-shadow: 0px 15px 36px 0px rgba(246, 87, 20, 0.3);
  cursor: pointer;
}
.manajemen-bap {
  color: #000000;
  text-align: center;
  font-family: var(
    --medium-16px-font-family,
    "SpaceGrotesk-Medium",
    sans-serif
  );
  font-size: var(--medium-16px-font-size, 16px);
  line-height: var(--medium-16px-line-height, 24px);
  font-weight: var(--medium-16px-font-weight, 500);
  position: relative;
  width: 157px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail-jadwal {
  position: absolute;
  inset: 0;
}
.detail-jadwal2 {
  color: #004e89;
  text-align: center;
  font-family: var(--bold-80px-font-family, "SpaceGrotesk-Bold", sans-serif);
  font-size: var(--bold-80px-font-size, 80px);
  line-height: var(--bold-80px-line-height, 86px);
  font-weight: var(--bold-80px-font-weight, 700);
  position: absolute;
  left: 412px;
  top: 173px;
  width: 615px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-back {
  width: 36px;
  height: 33px;
  position: absolute;
  left: 33px;
  top: 173px;
  overflow: visible;
  cursor: pointer;
}
