.frame-1,
.frame-1 * {
  box-sizing: border-box;
}
.frame-1 {
  background: #ffffff;
  border-radius: 8px;
  height: 1080px;
  position: relative;
  overflow: hidden;
}
.rectangle-1 {
  background: #e2cece;
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.error {
  color: #505741;
  text-align: left;
  font-family: "Telegraf-UltraBold", sans-serif;
  font-size: 120px;
  font-weight: 400;
  position: absolute;
  left: 814px;
  top: 199px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._404 {
  position: absolute;
  inset: 0;
}
.shape {
  width: 118.84px;
  height: 103.63px;
  position: static;
}
.rectangle-3 {
  background: #ed9661;
  border-radius: 4px;
  width: 30.42px;
  height: 28.52px;
  position: absolute;
  left: 918.63px;
  top: 429.81px;
}
.rectangle-4 {
  background: #ed9661;
  border-radius: 4px;
  width: 30.42px;
  height: 28.52px;
  position: absolute;
  left: 976.63px;
  top: 429.81px;
}
.rectangle-6 {
  background: #ed9661;
  border-radius: 4px;
  width: 30.42px;
  height: 28.52px;
  position: absolute;
  left: 991.84px;
  top: 504.92px;
}
.rectangle-7 {
  background: #ed9661;
  border-radius: 4px;
  width: 30.42px;
  height: 28.52px;
  position: absolute;
  left: 903.42px;
  top: 504.92px;
}
.rectangle-5 {
  background: #ed9661;
  border-radius: 4px;
  width: 77.48px;
  height: 28.52px;
  position: absolute;
  left: 924.34px;
  top: 484.48px;
}
.rectangle-8 {
  background: rgba(196, 196, 196, 0);
  border-radius: 8px;
  border-style: solid;
  border-color: #ed9661;
  border-width: 30px;
  width: 243.3px;
  height: 203.87px;
  position: absolute;
  left: 842.6px;
  top: 379.13px;
}
.four {
  width: 138.54px;
  height: 200.49px;
  position: static;
}
.rectangle-9 {
  background: #ed9661;
  border-radius: 8px;
  width: 41.68px;
  height: 99.12px;
  position: absolute;
  left: 659px;
  top: 378px;
}
.rectangle-11 {
  background: #ed9661;
  border-radius: 8px;
  width: 41.68px;
  height: 197.12px;
  position: absolute;
  left: 755.87px;
  top: 381.38px;
}
.rectangle-10 {
  background: #ed9661;
  border-radius: 8px;
  width: 41.68px;
  height: 99.12px;
  position: absolute;
  left: 680.4px;
  top: 494.02px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.rectangle-92 {
  background: #ed9661;
  border-radius: 8px;
  width: 41.68px;
  height: 99.12px;
  position: absolute;
  left: 1130.95px;
  top: 378px;
}
.rectangle-112 {
  background: #ed9661;
  border-radius: 8px;
  width: 41.68px;
  height: 197.12px;
  position: absolute;
  left: 1227.82px;
  top: 381.38px;
}
.rectangle-102 {
  background: #ed9661;
  border-radius: 8px;
  width: 41.68px;
  height: 99.12px;
  position: absolute;
  left: 1152.35px;
  top: 494.02px;
  transform-origin: 0 0;
  transform: rotate(-90deg) scale(1, 1);
}
.we-re-sorry-the-page-you-requested-need-login {
  color: #000000;
  text-align: left;
  font-family: "Actor-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  left: 613px;
  top: 775px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.please-go-back-to-the-home-page {
  color: #000000;
  text-align: left;
  font-family: "Actor-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  left: 719px;
  top: 833px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ooops-page-not-found {
  color: #000000;
  text-align: left;
  font-family: "Actor-Regular", sans-serif;
  font-size: 96px;
  font-weight: 400;
  position: absolute;
  left: 459px;
  top: 629px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-btn {
  background: #7e8965;
  padding: 20px 40px 20px 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 200px;
  height: 87px;
  position: absolute;
  left: 882px;
  top: 917px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.home-btn2 {
  background: #505741;
  border-radius: 8px 8px 0px 0px;
  padding: 20px 40px 20px 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 193px;
  height: 92px;
  position: absolute;
  left: 871px;
  top: 906px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.home {
  color: #ffffff;
  text-align: left;
  font-family: "Actor-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
