/* Figma Styles of your File */
:root {
    /* Colors */
    --general-color-1: #1a659e;
    --general-color-2: #004e89;
    --general-color-3: #efefd0;
    --general-color-4: #f7c59f;
    --general-color-5: #ff6b35;
    --general-color-6: #ffc947;
    --general-color-7: #fffbee;
    --primary-primary: radial-gradient(
      closest-side,
      rgba(255, 155, 0, 1) 12.5%,
      rgba(237, 28, 36, 1) 100%
    );
    --primary-primary-2: radial-gradient(
      closest-side,
      rgba(255, 230, 0, 1) 12.5%,
      rgba(255, 151, 2, 1) 100%
    );
    --brand-brand-1: #0000ff;
    --brand-brand-2: #ed1c24;
    --brand-brand-3: #ff9b00;
    --bckground-bg-1: #f7f5ed;
    --grey-grey-1: #3e4150;
    --grey-grey-2: #6c7188;
    --grey-grey-3: #dadce2;
  
    /* Fonts */
    --20px-font-family: Epilogue-Regular, sans-serif;
    --20px-font-size: 20px;
    --20px-line-height: 32px;
    --20px-font-weight: 400;
    --20px-font-style: normal;
    --16px-font-family: Epilogue-Regular, sans-serif;
    --16px-font-size: 16px;
    --16px-line-height: 32px;
    --16px-font-weight: 400;
    --16px-font-style: normal;
    --bold-80px-font-family: SpaceGrotesk-Bold, sans-serif;
    --bold-80px-font-size: 80px;
    --bold-80px-line-height: 86px;
    --bold-80px-font-weight: 700;
    --bold-80px-font-style: normal;
    --bold-70px-font-family: SpaceGrotesk-Bold, sans-serif;
    --bold-70px-font-size: 70px;
    --bold-70px-line-height: 78px;
    --bold-70px-font-weight: 700;
    --bold-70px-font-style: normal;
    --bold-64px-font-family: SpaceGrotesk-Bold, sans-serif;
    --bold-64px-font-size: 64px;
    --bold-64px-line-height: 72px;
    --bold-64px-font-weight: 700;
    --bold-64px-font-style: normal;
    --bold-60px-font-family: SpaceGrotesk-Bold, sans-serif;
    --bold-60px-font-size: 60px;
    --bold-60px-line-height: 75px;
    --bold-60px-font-weight: 700;
    --bold-60px-font-style: normal;
    --bold-58px-font-family: SpaceGrotesk-Bold, sans-serif;
    --bold-58px-font-size: 58px;
    --bold-58px-line-height: 72px;
    --bold-58px-font-weight: 700;
    --bold-58px-font-style: normal;
    --bold-52px-font-family: SpaceGrotesk-Bold, sans-serif;
    --bold-52px-font-size: 52px;
    --bold-52px-line-height: 65px;
    --bold-52px-font-weight: 700;
    --bold-52px-font-style: normal;
    --bold-48px-font-family: SpaceGrotesk-Medium, sans-serif;
    --bold-48px-font-size: 48px;
    --bold-48px-line-height: 60px;
    --bold-48px-font-weight: 500;
    --bold-48px-font-style: normal;
    --bold-42px-font-family: SpaceGrotesk-Bold, sans-serif;
    --bold-42px-font-size: 42px;
    --bold-42px-line-height: 48px;
    --bold-42px-font-weight: 700;
    --bold-42px-font-style: normal;
    --bold-36px-font-family: SpaceGrotesk-Bold, sans-serif;
    --bold-36px-font-size: 36px;
    --bold-36px-line-height: 46px;
    --bold-36px-font-weight: 700;
    --bold-36px-font-style: normal;
    --bold-32px-font-family: SpaceGrotesk-Bold, sans-serif;
    --bold-32px-font-size: 32px;
    --bold-32px-line-height: 42px;
    --bold-32px-font-weight: 700;
    --bold-32px-font-style: normal;
    --bold-28px-font-family: SpaceGrotesk-SemiBold, sans-serif;
    --bold-28px-font-size: 28px;
    --bold-28px-line-height: 38px;
    --bold-28px-font-weight: 600;
    --bold-28px-font-style: normal;
    --bold-24px-font-family: SpaceGrotesk-Bold, sans-serif;
    --bold-24px-font-size: 24px;
    --bold-24px-line-height: 34px;
    --bold-24px-font-weight: 700;
    --bold-24px-font-style: normal;
    --bold-21px-font-family: Inter-SemiBold, sans-serif;
    --bold-21px-font-size: 21px;
    --bold-21px-line-height: 28px;
    --bold-21px-font-weight: 600;
    --bold-21px-font-style: normal;
    --bold-18px-font-family: SpaceGrotesk-Bold, sans-serif;
    --bold-18px-font-size: 18px;
    --bold-18px-line-height: 28px;
    --bold-18px-font-weight: 700;
    --bold-18px-font-style: normal;
    --bold-16px-font-family: SpaceGrotesk-Bold, sans-serif;
    --bold-16px-font-size: 16px;
    --bold-16px-line-height: 28px;
    --bold-16px-font-weight: 700;
    --bold-16px-font-style: normal;
    --bold-13px-font-family: SpaceGrotesk-Bold, sans-serif;
    --bold-13px-font-size: 13px;
    --bold-13px-line-height: 22px;
    --bold-13px-font-weight: 700;
    --bold-13px-font-style: normal;
    --bold-11px-font-family: Altone-SemiBold, sans-serif;
    --bold-11px-font-size: 11px;
    --bold-11px-line-height: 18px;
    --bold-11px-font-weight: 600;
    --bold-11px-font-style: normal;
    --bold-11px-capital-font-family: SpaceGrotesk-Bold, sans-serif;
    --bold-11px-capital-font-size: 11px;
    --bold-11px-capital-line-height: 18px;
    --bold-11px-capital-font-weight: 700;
    --bold-11px-capital-font-style: normal;
    --bold-100px-font-family: SpaceGrotesk-Bold, sans-serif;
    --bold-100px-font-size: 100px;
    --bold-100px-line-height: 100px;
    --bold-100px-font-weight: 700;
    --bold-100px-font-style: normal;
    --medium-80px-font-family: SpaceGrotesk-Medium, sans-serif;
    --medium-80px-font-size: 80px;
    --medium-80px-line-height: 116px;
    --medium-80px-font-weight: 500;
    --medium-80px-font-style: normal;
    --medium-70px-font-family: SpaceGrotesk-Medium, sans-serif;
    --medium-70px-font-size: 70px;
    --medium-70px-line-height: 100px;
    --medium-70px-font-weight: 500;
    --medium-70px-font-style: normal;
    --medium-64px-font-family: SpaceGrotesk-Medium, sans-serif;
    --medium-64px-font-size: 64px;
    --medium-64px-line-height: 90px;
    --medium-64px-font-weight: 500;
    --medium-64px-font-style: normal;
    --medium-60px-font-family: SpaceGrotesk-Medium, sans-serif;
    --medium-60px-font-size: 60px;
    --medium-60px-line-height: 85px;
    --medium-60px-font-weight: 500;
    --medium-60px-font-style: normal;
    --medium-58px-font-family: SpaceGrotesk-Medium, sans-serif;
    --medium-58px-font-size: 58px;
    --medium-58px-line-height: 80px;
    --medium-58px-font-weight: 500;
    --medium-58px-font-style: normal;
    --medium-52px-font-family: SpaceGrotesk-Medium, sans-serif;
    --medium-52px-font-size: 52px;
    --medium-52px-line-height: 62px;
    --medium-52px-font-weight: 500;
    --medium-52px-font-style: normal;
    --medium-48px-font-family: SpaceGrotesk-Medium, sans-serif;
    --medium-48px-font-size: 48px;
    --medium-48px-line-height: 58px;
    --medium-48px-font-weight: 500;
    --medium-48px-font-style: normal;
    --medium-42px-font-family: SpaceGrotesk-Medium, sans-serif;
    --medium-42px-font-size: 42px;
    --medium-42px-line-height: 62px;
    --medium-42px-font-weight: 500;
    --medium-42px-font-style: normal;
    --medium-36px-font-family: SpaceGrotesk-Medium, sans-serif;
    --medium-36px-font-size: 36px;
    --medium-36px-line-height: 54px;
    --medium-36px-font-weight: 500;
    --medium-36px-font-style: normal;
    --medium-32px-font-family: SpaceGrotesk-Medium, sans-serif;
    --medium-32px-font-size: 32px;
    --medium-32px-line-height: 42px;
    --medium-32px-font-weight: 500;
    --medium-32px-font-style: normal;
    --medium-28px-font-family: SpaceGrotesk-Medium, sans-serif;
    --medium-28px-font-size: 28px;
    --medium-28px-line-height: 44px;
    --medium-28px-font-weight: 500;
    --medium-28px-font-style: normal;
    --medium-24px-font-family: SpaceGrotesk-Medium, sans-serif;
    --medium-24px-font-size: 24px;
    --medium-24px-line-height: 34px;
    --medium-24px-font-weight: 500;
    --medium-24px-font-style: normal;
    --medium-21px-font-family: SpaceGrotesk-Medium, sans-serif;
    --medium-21px-font-size: 21px;
    --medium-21px-line-height: 34px;
    --medium-21px-font-weight: 500;
    --medium-21px-font-style: normal;
    --medium-18px-font-family: SpaceGrotesk-Medium, sans-serif;
    --medium-18px-font-size: 18px;
    --medium-18px-line-height: 28px;
    --medium-18px-font-weight: 500;
    --medium-18px-font-style: normal;
    --medium-16px-font-family: SpaceGrotesk-Medium, sans-serif;
    --medium-16px-font-size: 16px;
    --medium-16px-line-height: 24px;
    --medium-16px-font-weight: 500;
    --medium-16px-font-style: normal;
    --medium-13px-font-family: SpaceGrotesk-Medium, sans-serif;
    --medium-13px-font-size: 14px;
    --medium-13px-line-height: 24px;
    --medium-13px-font-weight: 500;
    --medium-13px-font-style: normal;
    --medium-11px-font-family: SpaceGrotesk-Medium, sans-serif;
    --medium-11px-font-size: 11px;
    --medium-11px-line-height: 18px;
    --medium-11px-font-weight: 500;
    --medium-11px-font-style: normal;
    --medium-11px-capital-font-family: SpaceGrotesk-Medium, sans-serif;
    --medium-11px-capital-font-size: 11px;
    --medium-11px-capital-line-height: 18px;
    --medium-11px-capital-font-weight: 500;
    --medium-11px-capital-font-style: normal;
    --regular-11px-font-family: SpaceGrotesk-Regular, sans-serif;
    --regular-11px-font-size: 11px;
    --regular-11px-line-height: 20px;
    --regular-11px-font-weight: 400;
    --regular-11px-font-style: normal;
    --regular-13px-font-family: SpaceGrotesk-Regular, sans-serif;
    --regular-13px-font-size: 14px;
    --regular-13px-line-height: 24px;
    --regular-13px-font-weight: 400;
    --regular-13px-font-style: normal;
    --regular-16px-font-family: SpaceGrotesk-Regular, sans-serif;
    --regular-16px-font-size: 16px;
    --regular-16px-line-height: 26px;
    --regular-16px-font-weight: 400;
    --regular-16px-font-style: normal;
    --regular-18px-font-family: SpaceGrotesk-Regular, sans-serif;
    --regular-18px-font-size: 18px;
    --regular-18px-line-height: 28px;
    --regular-18px-font-weight: 400;
    --regular-18px-font-style: normal;
    --regular-21px-font-family: SpaceGrotesk-Regular, sans-serif;
    --regular-21px-font-size: 21px;
    --regular-21px-line-height: 34px;
    --regular-21px-font-weight: 400;
    --regular-21px-font-style: normal;
    --regular-24px-font-family: SpaceGrotesk-Regular, sans-serif;
    --regular-24px-font-size: 24px;
    --regular-24px-line-height: 40px;
    --regular-24px-font-weight: 400;
    --regular-24px-font-style: normal;
    --regular-28px-font-family: SpaceGrotesk-Regular, sans-serif;
    --regular-28px-font-size: 28px;
    --regular-28px-line-height: 44px;
    --regular-28px-font-weight: 400;
    --regular-28px-font-style: normal;
    --regular-32px-font-family: SpaceGrotesk-Regular, sans-serif;
    --regular-32px-font-size: 32px;
    --regular-32px-line-height: 42px;
    --regular-32px-font-weight: 400;
    --regular-32px-font-style: normal;
    --regular-36px-font-family: SpaceGrotesk-Regular, sans-serif;
    --regular-36px-font-size: 36px;
    --regular-36px-line-height: 54px;
    --regular-36px-font-weight: 400;
    --regular-36px-font-style: normal;
    --regular-42px-font-family: SpaceGrotesk-Regular, sans-serif;
    --regular-42px-font-size: 42px;
    --regular-42px-line-height: 62px;
    --regular-42px-font-weight: 400;
    --regular-42px-font-style: normal;
    --regular-48px-font-family: SpaceGrotesk-Regular, sans-serif;
    --regular-48px-font-size: 48px;
    --regular-48px-line-height: 70px;
    --regular-48px-font-weight: 400;
    --regular-48px-font-style: normal;
    --regular-52px-font-family: Inter-Regular, sans-serif;
    --regular-52px-font-size: 52px;
    --regular-52px-line-height: 62px;
    --regular-52px-font-weight: 400;
    --regular-52px-font-style: normal;
    --regular-58px-font-family: SpaceGrotesk-Regular, sans-serif;
    --regular-58px-font-size: 58px;
    --regular-58px-line-height: 80px;
    --regular-58px-font-weight: 400;
    --regular-58px-font-style: normal;
    --regular-60px-font-family: SpaceGrotesk-Regular, sans-serif;
    --regular-60px-font-size: 60px;
    --regular-60px-line-height: 85px;
    --regular-60px-font-weight: 400;
    --regular-60px-font-style: normal;
    --regular-64px-font-family: SpaceGrotesk-Regular, sans-serif;
    --regular-64px-font-size: 64px;
    --regular-64px-line-height: 90px;
    --regular-64px-font-weight: 400;
    --regular-64px-font-style: normal;
    --regular-70px-font-family: SpaceGrotesk-Regular, sans-serif;
    --regular-70px-font-size: 70px;
    --regular-70px-line-height: 100px;
    --regular-70px-font-weight: 400;
    --regular-70px-font-style: normal;
    --regular-80px-font-family: SpaceGrotesk-Regular, sans-serif;
    --regular-80px-font-size: 80px;
    --regular-80px-line-height: 86px;
    --regular-80px-font-weight: 400;
    --regular-80px-font-style: normal;
    --regular-96px-font-family: SpaceGrotesk-Regular, sans-serif;
    --regular-96px-font-size: 96px;
    --regular-96px-line-height: 94px;
    --regular-96px-font-weight: 400;
    --regular-96px-font-style: normal;
    --regular-110px-font-family: SpaceGrotesk-Regular, sans-serif;
    --regular-110px-font-size: 110px;
    --regular-110px-line-height: 140px;
    --regular-110px-font-weight: 400;
    --regular-110px-font-style: normal;
  
    /* Effects */
  }
  