<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIAP Sidang</title>
  <link rel="stylesheet" href="/css/login/styles.css">
</head>
<body>
  <!-- <script src="/js/login/script.js"></script> -->
  <div class="container">
    <div class="left-section">
      <div class="logo">
        <div class="medal red"></div>
        <div class="medal blue"></div>
        <div class="medal yellow"></div>
      </div>
      <h1>SIAP<br>Sidang</h1>
    </div>
    <div class="right-section">
      <form class="login-form">
        <input type="email" id="email" placeholder="Email" class="input-field">
        <input type="password" id="password" placeholder="Password" class="input-field">
        <span class="eye-icon" onclick="togglePassword()">👁️</span>
        <button type="submit"id="login" class="login-button">Log In</button>
      </form>
    </div>
  </div>
</body>
</html>
