<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/mahasiswa/Nilai/vars.css">
  <link rel="stylesheet" href="/css/mahasiswa/Nilai/style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Nilai Mahasiswa</title>
</head>
<body>
  <div class="html-mahasiswa-nilai-mahasiswa">
    <div class="footer">
      <div class="line-16"></div>
      <div class="rpl-b-3">RPL-B-3</div>
    </div>
    <a th:href="@{/mahasiswa/DetailJadwal(npm=${npm})}">
      <img class="arrow-back" src="/css/mahasiswa/Nilai/arrow-back0.svg" />
    </a>
    <div class="header">
      <img class="group" src="/css/mahasiswa/Nilai/group0.svg" />
      <div class="siap-sidang">SIAP Sidang</div>
    </div>
    <div class="nilai-mahasiswa">Nilai Mahasiswa</div>
    <div class="rectangle-503"></div>
    <div class="nilai-mahasiswa2">
      <div class="rectangle-505"></div>
      <div class="header-nilai"></div>
      <div class="no">No.</div>
      <div class="peran">Peran</div>
      <div class="nilai">Nilai</div>
      <div class="bobot">Bobot</div>
      <div class="nilai-akhir">Nilai Akhir</div>
      <div class="box-penguji">
        <div class="rectangle-502"></div>
        <div class="_1">2.</div>
        <div class="penguji">Penguji</div>
        <div class="_80" th:text="${nilaiMahasiswaList.nilaiAkhirPU1}">80</div>
        <div class="_30">35%</div>
        <div class="_24" th:text="${#numbers.formatDecimal(pengujiAkhir,1,2)}">24</div>
      </div>
      <div class="box-koordinator">
        <div class="rectangle-5022"></div>
        <div class="_12">1.</div>
        <div class="koordinator">Koordinator</div>
        <div class="_78" th:text="${nilaiMahasiswaList.nilaiAkhirKoordinator}">78</div>
        <div class="_20" >10%</div>
        <div class="_15-6" th:text="${#numbers.formatDecimal(koordAkhir,1,2)}">15.6</div>
      </div>
      <div class="box-anggota-penguji">
        <div class="anggota-penguji">
          <div class="ap">
            <div class="rectangle-5023"></div>
            <div class="_2">3.</div>
            <div class="anggota-penguji2">
              Anggota
              <br />
              Penguji
            </div>
            <div class="_81" th:text="${nilaiMahasiswaList.nilaiAkhirPU2}">81</div>
            <div class="_10">35%</div>
            <div class="_8-1" th:text="${#numbers.formatDecimal(anggotaPengujiAkhir,1,2)}">8.1</div>
          </div>
        </div>
      </div>
      <div class="box-pembimbing">
        <div class="pembimbing">
          <div class="staff">
            <div class="rectangle-5024"></div>
            <div class="_3">4.</div>
            <div class="pembimbing2">Pembimbing</div>
            <div class="_79" th:text="${nilaiMahasiswaList.nilaiAkhirPembimbing1}">79</div>
            <div class="_302">20%</div>
            <div class="_23-7" th:text="${#numbers.formatDecimal(pembimbingAkhir,1,2)}">23.7</div>
          </div>
        </div>
      </div>
    </div>
    <div class="angka-akhir">
      <div class="rectangle-504"></div>
      <div class="angka-akhir-79-2">Angka Akhir: <span th:text="${#numbers.formatDecimal(nilaiMahasiswaList.nilaiAkhir,1,2)}"></span></div>
    </div>
    <div class="nama-dosen">
      <div class="rectangle-506"></div>
      <div class="no2">No.</div>
      <div class="peran2">Peran</div>
      <div class="nama">Nama</div>
      <div class="box-anggota-penguji2">
        <div class="rectangle-5026"></div>
        <div class="_32">3.</div>
        <div class="anggota-penguji3">
          Anggota
          <br />
          Penguji
        </div>
        <div class="salsa-nabila" th:text="${nama_pu2}"></div>
      </div>
      <div class="box-pembimbing2">
        <div class="rectangle-5027"></div>
        <div class="alberto-graciano" th:text="${nama_pb1}"></div>
        <div class="_42">4.</div>
        <div class="pembimbing3">Pembimbing</div>
      </div>
      <div class="box-anggota-pembimbing2">
        <div class="rectangle-5028"></div>
        <div class="_5">5.</div>
        <div class="anggota-pembimbing3">
          Anggota
          <br />
          Pembimbing
        </div>
        <div class="karen" th:text="${nama_pb2}"></div>
      </div>
      <div class="box-penguji2">
        <div class="rectangle-5029"></div>
        <div class="_22">2.</div>
        <div class="penguji2">Penguji</div>
        <div class="william-sitohang" th:text="${nama_pu1}">William Sitohang</div>
      </div>
      <div class="box-koordinator2">
        <div class="rectangle-50210"></div>
        <div class="_13">1.</div>
        <div class="koordinator2">Koordinator</div>
        <div class="ghatar-muham" th:text="${koordinator}">Ghatar Muham</div>
      </div>
    </div>
  </div>
  
</body>
</html>