<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIAP Sidang</title>
  <link rel="stylesheet" href="/css/login/style.css">
</head>
<body>
 
  <div class="container">
    <div class="left-section">
      <div class="logo">
        <div class="medal red"></div>
        <div class="medal blue"></div>
        <div class="medal yellow"></div>
      </div>
      <h1>SIAP<br>Sidang</h1>
    </div>
    <div class="right-section">
      
      <form class="login-form" th:action="@{/login}" method="post" >
        <input type="email" id="email" name="email" placeholder="Email" class="input-field">
        <input type="password" id="password" name="password" placeholder="Password" class="input-field">
        <p  th:if="${status == 'failed'}"> Email atau password salah. Silakan coba lagi!</p>
        <button type="submit"id="login" class="login-button" value="login">Log In</button>
        <!-- Status Login -->
    </form>
</div>
</div>
</body>
</html>
